@{
    ViewData["Title"] = "ResetPasswordConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/ResetPassword.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container reset-password-container">
        <div class="reset-password-header">
            <h2>Reset Password</h2>
            <div class="titleResetPassword">
                <p>Password requirements: at least one uppercase letter, one lowercase letter, one digit, and one special character.</p>
            </div>
        </div>
        <div class="reset-password-form">
            <form id="resetPasswordConfirmForm">
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" name="NewPassword" placeholder="Enter your new password" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputConfirmPassword" name="ReNewPassword" placeholder="Re-enter your new password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Change password</button>
                </div>
                <input type="hidden" id="token" name="Token" value="@ViewBag.Token" /><!-- Input hidden để lưu token -->
            </form>
            <div id="message" class="mt-3"></div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Lấy token từ response JSON khi gửi yêu cầu reset mật khẩu
            var token = '@Html.Raw(Json.Serialize(ViewData["token"]))';
            $('#token').val(token); // Đặt giá trị token vào input hidden

            $('#resetPasswordConfirmForm').submit(function (event) {
                event.preventDefault();
                var formData = {
                    NewPassword: $('#inputPassword').val(),
                    ReNewPassword: $('#inputConfirmPassword').val(),
                    Token: $('#token').val().replace(/"/g, '')  // Sử dụng token từ phía server
                };

                $.ajax({
                    url: '@Url.Action("ResetPasswordConfirm", "Account")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        var messageDiv = $('#message');
                        messageDiv.removeClass('alert alert-danger alert-success');
                        if (response.success) {
                            messageDiv.addClass('alert alert-success');
                            messageDiv.text(response.message);
                            setTimeout(function () {
                                window.location.href = '/'; // Redirect to login page or appropriate page after delay
                            }, 2000); // Redirect after 2 seconds (2000 milliseconds)
                        } else {
                            messageDiv.addClass('alert alert-danger');
                            messageDiv.text('Error: ' + response.message);
                            if (response.errors) {
                                response.errors.forEach(function (error) {
                                    messageDiv.append('<br>' + error);
                                });
                            }
                        }
                    },
                    error: function () {
                        var messageDiv = $('#message');
                        messageDiv.removeClass('alert alert-success').addClass('alert alert-danger');
                        messageDiv.text('Error resetting password.');
                    }
                });
            });
        });

    </script>
</body>
</html>
