body {
    background-color: #FFA8A8 !important;
    font-family: "Poppins", sans-serif;
}

.reset-password-container {
    max-width: 500px !important;
    margin: 0 auto !important;
    padding: 20px !important;
    background-color: #FF9090 !important;
    border-radius: 8px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    margin-top: 50px !important;
}

.reset-password-header {
    text-align: center !important;
    margin-bottom: 20px !important;
}

    .reset-password-header h2 {
        font-weight: 600;
        margin: 0 !important;
        font-size: 24px !important;
        color: #711919;
    }
    .reset-password-header p {
        margin: 0 !important;
        color: #9B1B1B;
    }
.titleResetPassword {
    background-color: #FA8383;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
}

.reset-password-form .form-group {
    display: flex ;
    justify-content: space-around;
    margin-bottom: 15px !important;
}
.reset-password-form .form-control {
    text-align:center;
}

.reset-password-form .btn {
    background-color: #B94545;
    width: 307px !important;
    height: 55px !important;
    top: 643px !important;
    left: 568px !important;
    gap: 0px;
    box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.19) !important;
}
    .reset-password-form .btn:hover,
    .reset-password-form .btn:focus {
        background-color: #B94545 !important;
        color: #fff !important; /* Đảm bảo màu chữ không thay đổi */
        box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19) !important;
    }