 @* Register.cshtml *@
@model ProjectBase.Models.RegisterModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="@Url.Content("/css/Popup.css")" />
</head>
<body>
    <div class="container">
        <div class="modal fade" tabindex="-1" id="registerModal" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div id="registerSuccessMessage" class="alert alert-success" style="display:none;">
                        Registration successful. Please check email to verify your account!
                    </div>
                    <div id="registerErrorMessage" class="alert alert-danger" style="display:none;">
                        Registration failed. Please try again.
                    </div>
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <form id="registerForm" asp-action="Register" asp-controller="Account">
                            <div class="row">
                                
                                <div class="col-md-8">
                                    <h4 class="modal-titleLeft">Register</h4>
                                    <div class="formRegister-groupContent">
                                        <input asp-for="fullname" type="text" placeholder="Enter fullname" id="inputFullName" />
                                    </div>
                                    <div class="formRegister-groupContent">
                                        <input asp-for="Phone" type="text" placeholder="Phone number" id="inputPhoneNumber" />
                                    </div>
                                    <div class="formRegister-groupContent">
                                        <input asp-for="email" type="email" placeholder="Email" id="inputEmail" />
                                    </div>
                                    <div class="formRegister-groupContent">
                                        <input asp-for="password" type="password" placeholder="Password" id="inputPasswordRegister" />
                                    </div>
                                    <div class="formRegister-groupContent">
                                        <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" id="inputConfirmPassword" />
                                    </div>
                                    <div class="formRegister-group" id="genderContainer">
                                        <div class="title">
                                            <label>Gender?</label>
                                        </div>
                                        <br>
                                        <div class="genderOptions">
                                            <div class="genderOption">
                                                <input asp-for="gender" type="radio" id="male" name="gender" value="true">
                                                <label for="male">Male</label>
                                            </div>
                                            <div class="genderOption">
                                                <input asp-for="gender" type="radio" id="female" name="gender" value="false">
                                                <label for="female">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 right">
                                        <h1 class="modal-titleRight">Quizly</h1>
                                        <div class="form-group">
                                        <button type="submit" class="btn btn-secondary btn-register" id="registerModelBtn">Register</button>
                                        <h5 class="modal-titleRightOr">or has Account</h5>
                                        <button type="button" class="btn btn-secondary btn-login" id="loginBtnRegister">Login</button>
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var isSubmitting = false; // Biến cờ để kiểm tra xem yêu cầu AJAX đã được gửi hay chưa
            var formData = {};

            $('input[name="gender"]').change(function () {
                formData.gender = $(this).val(); // Cập nhật giá trị giới tính trong formData
            });

            $('#registerForm').submit(function (event) {
                event.preventDefault(); // Ngăn chặn việc gửi yêu cầu POST tự động

                var fullname = $('#inputFullName').val().trim();
                var phone = $('#inputPhoneNumber').val().trim();
                var email = $('#inputEmail').val().trim();
                var password = $('#inputPasswordRegister').val().trim();
                var confirmPassword = $('#inputConfirmPassword').val().trim();
                var gender = $('input[name="gender"]:checked').val();

                // Xóa thông báo lỗi trước đó
                $('#registerErrorMessage').empty().hide();

                // Kiểm tra các trường nhập liệu và thêm thông báo lỗi nếu cần
                var errors = [];

                if (!fullname) {
                    errors.push("Username cannot be blank");
                }
                if (!phone) {
                    errors.push("Phone number cannot be blank");
                }
                if (!email) {
                    errors.push("Email cannot be blank");
                }
                if (!password) {
                    errors.push("Password cannot be blank");
                }
                if (password !== confirmPassword) {
                    errors.push("The password and confirmation password do not match.");
                }
                if (!gender) {
                    errors.push("Please select a gender");
                }

                if (errors.length > 0) {
                    // Hiển thị thông báo lỗi vào phần tử registerErrorMessage
                    $('#registerErrorMessage').html('<ul></ul>');
                    errors.forEach(function (error) {
                        $('#registerErrorMessage ul').append('<li>' + error + '</li>');
                    });
                    $('#registerErrorMessage').show();
                    return false;
                }

                if (isSubmitting) {
                    return; // Không thực hiện thêm yêu cầu AJAX nếu đang trong quá trình gửi
                }

                // Đặt trạng thái gửi AJAX thành true
                isSubmitting = true;
                formData = {
                    fullname: fullname,
                    password: password,
                    ConfirmPassword: confirmPassword,
                    email: email,
                    Phone: phone,
                    gender: gender == "true"
                };

                // Vô hiệu hóa nút đăng ký
                $('#registerModelBtn').prop('disabled', true);

                // Gửi yêu cầu AJAX đến action method Register trong controller AccountController
                $.ajax({
                    url: '/Account/Register',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData), // Lấy dữ liệu từ form
                    success: function (response) {
                        // Xử lý phản hồi từ yêu cầu AJAX
                        if (response.success) {
                            // Hiển thị thông báo thành công
                            $('#registerSuccessMessage').show();
                            $('#registerErrorMessage').hide();

                            // Đóng modal đăng ký (sử dụng Bootstrap)
                            setTimeout(function () {
                                $('#registerModal').modal('hide');
                                // Xóa thông tin trong các trường nhập liệu
                                $('#registerForm')[0].reset();
                            }, 2000); // 2000ms = 2s
                        } else {
                            // Hiển thị thông báo lỗi với nội dung từ phản hồi của server
                            $('#registerErrorMessage').html('Registration failed. Please try again.<ul></ul>');
                            if (response.errors) {
                                response.errors.forEach(function (error) {
                                    $('#registerErrorMessage ul').append('<li>' + error + '</li>');
                                });
                            }
                            $('#registerErrorMessage').show();
                            $('#registerSuccessMessage').hide();
                        }
                    },
                    error: function (xhr, status, error) {
                        // Xử lý lỗi nếu có
                        $('#registerErrorMessage').text('An error occurred: ' + error).show();
                        $('#registerSuccessMessage').hide();
                    },
                    complete: function () {
                        // Đặt trạng thái gửi AJAX thành false sau khi yêu cầu hoàn tất
                        isSubmitting = false;
                        // Kích hoạt lại nút đăng ký
                        $('#registerModelBtn').prop('disabled', false);
                    }
                });
            });

            $('#loginBtnRegister').click(function () {
                // Hiện modal đăng nhập
                $('#loginModal').modal('show');
                // Hiển thị modal đăng ký
                $('#registerModal').modal('hide');
            });
        });
    </script>



</body>
</html>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}